$def with ()

$var title: graphbin.com - upload
$var head:

<h1>Plot your data series!</h1>

<h2>Upload a CSV file with data</h2>

<form enctype="multipart/form-data" method="POST">
	<input type="file" name="csvfile"><br>
    <input type="submit" value="Upload">
</form>

<h2>Input data by hand</h2>

<form enctype="multipart/form-data" method="POST">
    <label>Paste data into the box</label><br>
	<textarea name="data" rows="24" cols="24"></textarea><br>
    <input type="submit" value="Submit">
</form>
